{% set map = {
    'Ubuntu': {
        'pkgs_server': ['nfs-common', 'nfs-kernel-server'],
        'pkgs_client': ['nfs-common'],
        'service_server': 'nfs-kernel-server',
        'service_client': False,
    },
    'Debian': {
        'pkgs_server': ['nfs-common', 'nfs-kernel-server'],
        'pkgs_client': ['nfs-common'],
        'service_server': 'nfs-kernel-server',
        'service_client': False,
    },
    
} %}

{% set nfs = salt['grains.filter_by'](map, merge=salt['pillar.get']('nfs:lookup'), base='default') %}