{% set package_table = {
    'Debian': {'rabbitmq-server': 'rabbitmq-server'},
    'Ubuntu': {'rabbitmq-server': 'rabbitmq-server'},
    'CentOS': {'rabbitmq-server': 'rabbitmq-server'},
    'Fedora': {'rabbitmq-server': 'rabbitmq-server'},
    'RedHat': {'rabbitmq-server': 'rabbitmq-server'},
    'Gentoo': {'rabbitmq-server': 'net-misc/rabbitmq-server'}
} %}

{% if 'package_table' in pillar %}
    {% set pkgs = pillar['package_table'] %}
{% elif grains['os'] in package_table %}
    {% set pkgs = package_table[grains['os']] %}
{% endif %}